
name: Release
permissions:
  contents: read
on:
  push:
    tags: [ 'v*.*.*' ]
jobs:
  build-and-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: { python-version: '3.11' }
      - run: python -m venv .venv && source .venv/bin/activate && pip install build && python -m build
      - uses: actions/upload-artifact@v4
        with: { name: dist, path: dist/* }
